# Project exclude paths
/venv/
/Appium/report/
/Appium/report_email/
/Zhujia_Factory/report/
/Zhujia_Factory/report_email/
/ERP/build/
/ERP/dist/
/ERP/picture/
/Common_File/build/
/Common_File/dist/

